"*":
  "autocomplete-go": {}
  "autocomplete-php": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/dannielmagno/Projects"
  editor:
    fontFamily: "inconsolata"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "438b1b83-b6df-9563-74d9-b4576787979f"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "git-blame":
    ignoreWhiteSpaceDiffs: true
    showOnlyLastNames: false
  "git-plus": {}
  "go-plus":
    runCoverageOnSave: true
  gofmt: {}
  "gometalinter-linter":
    args: [
      "--vendor"
      "--disable-all"
      "--enable=vet"
      "--enable=vetshadow"
      "--enable=golint"
      "--enable=ineffassign"
      "--enable=goconst"
      "--tests"
      "--json"
      "--exclude=comment"
      "."
    ]
  linter: {}
  minimap:
    absoluteMode: true
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
    scrollAnimation: true
  nuclide:
    "nuclide-clang-atom":
      enableDefaultFlags: false
    "nuclide-diagnostics-store":
      consumeLegacyLinters: false
      legacyLintOnTheFly: false
    "nuclide-file-tree":
      allowKeyboardPrefixNavigation: false
      hideIgnoredNames: false
      showOpenFiles: false
    "nuclide-flow":
      enableTypeHints: false
      stopFlowOnExit: false
      warnOnNotInstalled: false
    "nuclide-format-js":
      nuclideFixHeader: false
      requiresAddMissingRequires: false
      requiresAddMissingTypes: false
      requiresFormatRequires: false
      requiresRemoveUnusedRequires: false
      requiresRemoveUnusedTypes: false
      requiresTransferComments: false
    "nuclide-home":
      showHome: false
    "nuclide-python":
      autocompleteArguments: false
      enableLinting: false
      showGlobalVariables: false
    "nuclide-remote-projects": {}
    "nuclide-vcs-log":
      showDifferentialRevision: false
    use:
      "nuclide-adb-logcat": false
      "nuclide-arcanist": false
      "nuclide-blame": false
      "nuclide-blame-provider-hg": false
      "nuclide-blame-ui": false
      "nuclide-bookshelf": false
      "nuclide-buck": false
      "nuclide-busy-signal": false
      "nuclide-clang-atom": false
      "nuclide-clipboard-path": false
      "nuclide-code-format": false
      "nuclide-code-highlight": false
      "nuclide-console": false
      "nuclide-context-view": false
      "nuclide-current-working-directory": false
      "nuclide-datatip": false
      "nuclide-debugger-atom": false
      "nuclide-debugger-hhvm": false
      "nuclide-debugger-lldb-client": false
      "nuclide-debugger-node": false
      "nuclide-definition-preview": false
      "nuclide-diagnostics-datatip-provider": false
      "nuclide-diagnostics-store": false
      "nuclide-diagnostics-ui": false
      "nuclide-diff-view": false
      "nuclide-distraction-free-mode": false
      "nuclide-file-tree": false
      "nuclide-find-references": false
      "nuclide-flow": false
      "nuclide-format-js": false
      "nuclide-gadgets": false
      "nuclide-hack": false
      "nuclide-hack-symbol-provider": false
      "nuclide-health": false
      "nuclide-hg-conflict-resolver": false
      "nuclide-hg-repository": false
      "nuclide-hhvm-toolbar": false
      "nuclide-home": false
      "nuclide-ios-simulator-logs": false
      "nuclide-language-hack": false
      "nuclide-move-item-to-available-pane": false
      "nuclide-navigation-stack": false
      "nuclide-nux": false
      "nuclide-objc": false
      "nuclide-ocaml": false
      "nuclide-outline-view": false
      "nuclide-python": false
      "nuclide-quick-open": false
      "nuclide-react-native": false
      "nuclide-react-native-inspector": false
      "nuclide-related-files": false
      "nuclide-remote-ctags": false
      "nuclide-remote-projects": false
      "nuclide-side-bar": false
      "nuclide-source-control-side-bar": false
      "nuclide-task-runner": false
      "nuclide-test-runner": false
      "nuclide-type-coverage": false
      "nuclide-url-hyperclick": false
      "nuclide-vcs-log": false
      "nuclide-working-sets": false
  "php-cs-fixer":
    executablePath: "/Users/dannielmagno/php-cs-fixer.phar"
    fixers: "concat_with_spaces,align_double_arrow"
    level: "symfony"
    phpExecutablePath: "/usr/local/php5/bin/php"
  "php-debug":
    PathMaps: [
      "/home/ematexc/public_html/pedidos_novo;/Users/dannielmagno/Projects/Ematex/pedidos_novo"
    ]
    ServerPort: 9000
  "project-manager":
    sortBy: "group"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "terminal-plus":
    core: {}
    style: {}
  "tester-go":
    runCoverageOnSave: true
  "tidy-markdown":
    runOnSave: false
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    tabLength: 4
".css.source.twig":
  editor:
    tabLength: 4
".diff.source":
  editor:
    tabLength: 4
".gitignore.source":
  editor:
    tabLength: 4
".hack.html.text":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    showIndentGuide: false
    showInvisibles: false
    tabLength: 4
".hackfragment.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    showIndentGuide: false
    showInvisibles: false
    tabLength: 4
".hg-commit.text":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    showIndentGuide: false
    showInvisibles: false
    tabLength: 4
".html.text.twig":
  editor:
    tabLength: 4
".hyperlink.text":
  editor:
    tabLength: 4
".ini.source":
  editor:
    tabLength: 4
".js.source.twig":
  editor:
    tabLength: 4
".json.source.twig":
  editor:
    tabLength: 4
".source.twig":
  editor:
    tabLength: 4
".source.twig.yaml":
  editor:
    tabLength: 4
".text.twig.xml":
  editor:
    tabLength: 4
