"ambor/api":
  title: "ambor/api"
  paths: [
    "/Users/dannielmagno/go/src/github.com/vinicio/ambor-api"
    "/Users/dannielmagno/go/src/github.com/vinicio/ambor-core"
  ]
goimg:
  title: "goimg"
  paths: [
    "/Users/dannielmagno/go/src/gitlab.com/goimg/api"
    "/Users/dannielmagno/go/src/gitlab.com/goimg/core"
  ]
"go-dennyloko-bot":
  title: "go-dennyloko-bot"
  paths: [
    "/Users/dannielmagno/go/src/github.com/DennyLoko/go-dennyloko-bot"
  ]
"go-emojibot":
  title: "go-emojibot"
  paths: [
    "/Users/dannielmagno/go/src/github.com/DennyLoko/go-emojibot"
  ]
"sam/platform/gemu":
  title: "sam/platform/gemu"
  group: "Sam Media"
  paths: [
    "/Users/dannielmagno/Projects/sam-media/devbox/buppertestinfra/gemu"
  ]
"sam/platform/mcb":
  title: "sam/platform/mcb"
  group: "Sam Media"
  paths: [
    "/Users/dannielmagno/Projects/sam-media/devbox/buppertestinfra/mcb"
  ]
"sam/platform/samplatform":
  title: "sam/platform/samplatform"
  paths: [
    "/Users/dannielmagno/Projects/sam-media/devbox/buppertestinfra/samplatform"
  ]
  group: "Sam Media"
"sam/platform/yamato":
  title: "sam/platform/yamato"
  paths: [
    "/Users/dannielmagno/Projects/sam-media/devbox/buppertestinfra/yamato"
  ]
  group: "Sam Media"
"sam/platform/rockman":
  title: "sam/platform/rockman"
  paths: [
    "/Users/dannielmagno/Projects/sam-media/devbox/buppertestinfra/rockman"
  ]
  group: "Sam Media"
"sam/bupper/bupper":
  title: "sam/bupper/bupper"
  group: "Sam Media"
  paths: [
    "/Users/dannielmagno/Projects/sam-media/devbox/buppertestinfra/backoffice"
  ]
"sam/bupper/ads-framework":
  title: "sam/bupper/ads-framework"
  group: "Sam Media"
  paths: [
    "/Users/dannielmagno/Projects/sam-media/devbox/buppertestinfra/ads-framework"
  ]
"sam/bupper/ads-server":
  title: "sam/bupper/ads-server"
  group: "Sam Media"
  paths: [
    "/Users/dannielmagno/Projects/sam-media/devbox/buppertestinfra/ads-server"
  ]
"sam/rps/jewelbox":
  title: "sam/rps/jewelbox"
  group: "Sam Media"
  paths: [
    "/Users/dannielmagno/Projects/sam-media/devbox/rps/jewelbox"
  ]
"sam/tests":
  title: "sam/tests"
  group: "Sam Media"
  paths: [
    "/Users/dannielmagno/Projects/Sam-Media/tests"
  ]
"sam/pixel":
  title: "sam/pixel"
  group: "Sam Media"
  paths: [
    "/Users/dannielmagno/Projects/Sam-Media/devbox/buppertestinfra/pixel"
  ]
environment:
  title: "environment"
  paths: [
    "/Users/dannielmagno/environment"
  ]
"amztkts/uzanto":
  title: "amztkts/Uzanto"
  group: "Amuza"
  paths: [
    "/Users/dannielmagno/go/src/gitlab.com/AmuzaTkts/Uzanto"
  ]
"amztkts/slosilo":
  title: "amztkts/Slosilo"
  paths: [
    "/Users/dannielmagno/go/src/gitlab.com/AmuzaTkts/Slosilo"
  ]
  group: "Amuza"
"amztkts/jsonapi-errors":
  title: "amztkts/jsonapi-errors"
  group: "Amuza"
  paths: [
    "/Users/dannielmagno/go/src/github.com/AmuzaTkts/jsonapi-errors"
  ]
"amztkts/go-logger":
  title: "amztkts/go-logger"
  group: "Amuza"
  paths: [
    "/Users/dannielmagno/go/src/gitlab.com/AmuzaTkts/go-logger"
  ]
"go-pokemon-go":
  title: "go-pokemon-go"
  paths: [
    "/Users/dannielmagno/go/src/github.com/DennyLoko/go-pokemon-go"
    "/Users/dannielmagno/Projects/pgo-teleport"
  ]
pokemongonobr:
  title: "pokemongonobr"
  paths: [
    "/Users/dannielmagno/go/src/github.com/DennyLoko/pokemongonobr"
  ]
pgostats:
  title: "pgostats"
  paths: [
    "/Users/dannielmagno/go/src/github.com/DennyLoko/pgostats"
  ]
